.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: var(--t-color-text-disabled, rgba(0, 0, 0, 0.25));
  font-family: Arial;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
}